:root {
  --transperent: rgba(0, 0, 0, 0);
  --shadow-lite: #21232c5c;

  --white-normal: #f8fcff;
  --white-dark: #b9bdc0;
  --white-predark: #dfe3e6;
  --white-accent: #fff;

  --gray-accent: #23242a;

  --gray-border: #44454d;
  --gray-panel: #292a2f;
  --gray-panel-light: #35363c;

  --error-accent: #fd9e9e;
  --success-accent: #485049;
  --warning-accent: #b3a358;
  --red-accent: #5e3a3a;

  --font-decorative: Cambria, Cochin, Georgia, serif;
  --font-informative: 'Arial Narrow', Arial, sans-serif;
}